.test-container{
    width:30vw;
    border:1px solid red;
    position: relative;
    margin-top:20px;

    .input{
        width:100%;
        padding:10px 20px;
        border:solid green;

        &:focus{
            background-color: yellow;
        }

        &:focus ~ .label{
            top:-15px;
            font-size: 0.7rem;
            transition:0.3s ease-in-out;
        }

    }

    .label{
        position:absolute;
        left:10px;
        top:10px;
    }


    .input[value~=""]{
        top:-15px;
        font-size: 0.7rem;
        transition:0.3s ease-in-out;
    }


}